@import url("https://fonts.googleapis.com/css2?family=Anton&family=Mako&family=Wix+Madefor+Display:wght@500&display=swap");

:root {
  --darkerColor: #333333;
  --lightColor: #fffcf3;
  --panelColor: #ffc037;
  --accentColor: #a119b3;
  --darkColor: #b918b1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--lightColor);
  color: var(--darkColor);
  font-family: "Wix Madefor Display", sans-serif;
  overflow-x: hidden;
}

#grid-container {
  display: grid;
  grid-template-areas:
    "header header header"
    "main main aside"
    "footer footer footer";
  grid-template-columns: 10% 65% 25%;
  grid-template-rows: 13% 80% 7%;
  min-height: 100vh;
}

#header {
  grid-area: header;
  background-color: var(--panelColor);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}

h1 {
  padding: 30px;
}

#navScore {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.button {
  cursor: pointer;
  margin: 10px;
  border: none;
  padding: 10px 20px;
  border-radius: 18px;
  background-color: var(--accentColor);
  color: var(--lightColor);
  font-size: larger;
  font-weight: 400;
  font-family: "Anton", sans-serif;
  letter-spacing: 2px;
  
}

.button:hover {
  background-color: var(--darkColor);
}

.bigify {
  transform: scale(1.5);
  transition: all 0.7s;
}

.redify {
  transform: scale(2);
  background-color: var(--darkerColor);
  color: var(--panelColor);
}

#timerContainer {
  display: flex;
  background-color: var(--accentColor);
  border-radius: 50%;
  padding: 3vh;
  z-index: 1;
  font-size: 62px;
  transition: all 0.5s;
  width: 120px;
  height: 120px;
  justify-content: center;
  align-items: center;
}

#scoreContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: xx-large;
}

#scoreBuzzer {
  font-size: xxx-large;
  opacity: 1;
}

#footer {
  display: flex;
  grid-area: footer;
  background-color: var(--panelColor);
  align-items: center;
  justify-content: center;
  width: 100%;
}

#aside {
  grid-area: aside;
  display: flex;
  background-color: var(--darkColor);
  color: var(--lightColor);
  padding: 8px;
  flex: auto;
  flex-direction: column;
  justify-content: space-between;
}

#highScores {
  font-family: "Anton", sans-serif;
  width: 100%;
  border-collapse: collapse;
  letter-spacing: 2px;
}

#highScoreName {
  visibility: hidden;
}

#highScores td {
  border: 1px solid var(--lightColor);
  padding: 4px;
}

#main {
  display: flex;
  flex-wrap: wrap;
  grid-area: main;
  width: 100%;
  background-color: var(--lightColor);
  color: var(--darkerColor);
}

#question {
  display: flex;
  padding: 1.5rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#question h3 {
  font-size: xx-large;
}

#answerText {
  display: none;
}

#answerText ol {
  font-size: x-large;
  list-style-position: inside;
  list-style-type: upper-alpha;
}

#answerText ol li {
  padding: 0.5rem;
}

#choices {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 1.5rem;
  width: 100%;
  justify-content: space-around;
  background-color: var(--lightColor);
  color: var(--darkerColor);

  overflow: hidden;
}

.choice {
  border-radius: 30px;
  padding: 10px 30px;
  font-size: xx-large;
  transform: none;
}

.choice:hover {
  transform: scale(1.2);
}

#timerDisplay {
  color: var(--lightColor);
  padding: 15px;
}

#scoreDisplay {
  font-size: xxx-large;
  padding: 15px;
}

#gameOverDialog {
  padding: 25px;
  position: absolute;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 6px solid var(--darkColor);
  border-radius: 18px;
  color: var(--accentColor);
  background-color: var(--panelColor);
  filter: drop-shadow(0 0 18px var(--darkColor));
}

#highScoreBox  {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.highScoreConfirm {
  display: flex;
  flex: 1 0;
}

#highScoreName {
  display: flex;
  border: none;
  height: 40px;
  padding: 16px;
  border-radius: 16px;
  letter-spacing: 2px;
}

#titleScreen {
  position: absolute;
  left: 50vw;
  top: 25vh;
  transform: translate(-50%);
  background-color: transparent;
  color: var(--lightColor);
  border: none;
  overflow: hidden;
}

#titleScreen button {
  font-size: xx-large;
  background-color: var(--darkColor);
  color: var(--lightColor);
  border-radius: 16px;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}

#titleScreen table {
  background-color: var(--darkColor);
}

#titleScreen::backdrop, #gameOverDialog::backdrop {
  backdrop-filter: blur(4px);
}

#gameOverDialog h2 {
  text-align: center;
}

#displayHighScore {
  font-size: xxx-large;
}

@media screen and (max-width: 600px) {
  #grid-container {
    display: flex;
    flex-wrap: wrap;
  }
  #timerContainer {
    font-size: xx-large;
  }

  #header {
    height: 10vh;
  }

  #choices {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .choice {
    padding: 10px 30px;
    font-size: xxx-large;
    max-height: 90px;
    width: 100%;
    max-width: 90%;
    font-size: large;
  }

  #scoreContainer {
    font-size: medium;
    flex-direction: column-reverse;
  }
}
